# -----------------------------
# Python
# -----------------------------
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Node.js
# -----------------------------
node_modules/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Tailwind Cache
# -----------------------------
.cache/