<aside class="w-72 bg-slate-900 text-white flex flex-col h-screen">

    <!-- ========================= -->
    <!-- Logo -->
    <!-- ========================= -->

    <div class="border-b border-slate-800 p-6">

        <h1 class="text-2xl font-bold tracking-wide text-white">
            ALIF ERP
        </h1>

        <p class="text-sm text-slate-400 mt-1">
            Institution Management System
        </p>

        <div class="mt-4 rounded-lg bg-slate-800 p-3">

            <p class="text-xs text-slate-400">
                Logged in as
            </p>

            <p class="font-semibold mt-1">

                {{ session.get("full_name","Guest") }}

            </p>

            <p class="text-xs text-slate-400">

                {{ session.get("role","-")|replace("_"," ")|title }}

            </p>

        </div>

    </div>

    <!-- ========================= -->
    <!-- Navigation -->
    <!-- ========================= -->

    <nav class="flex-1 overflow-y-auto px-4 py-5 space-y-2">

    <!-- Dashboard -->
    <a href="{{ url_for('dashboard.dashboard') }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="layout-dashboard" class="w-5 h-5"></i>
        <span>Dashboard</span>

    </a>

    {% if session.get("role") == "super_admin" %}

        <a href="{{ url_for('institution.institutions') }}"
           class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

            <i data-lucide="building-2" class="w-5 h-5"></i>
            <span>Institutions</span>

        </a>

    {% elif session.get("role") == "institution_admin" %}

        <a href="{{ url_for('staff.staff_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

            <i data-lucide="briefcase-business" class="w-5 h-5"></i>
            <span>Staff</span>

        </a>

        <a href="{{ url_for('classes.class_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="school" class="w-5 h-5"></i>

    <span>Classes</span>

</a>

        <a href="{{ url_for('students.student_list') }}"
           class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

            <i data-lucide="users" class="w-5 h-5"></i>
            <span>Students</span>

        </a>

        <a  href="{{ url_for('subjects.create_subject') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="book-copy" class="w-5 h-5"></i>

    <span>Subjects</span>

</a>

        <a href="{{ url_for('parents.parent_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="user-round" class="w-5 h-5"></i>

    <span>Parents</span>

</a>

        <a href="{{ url_for('attendance.attendance_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="calendar-check-2" class="w-5 h-5"></i>

    <span>Attendance</span>

</a>

        <a href="{{ url_for('exams.exam_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="clipboard-list" class="w-5 h-5"></i>

    <span>Exams</span>

</a>

<a href="{{ url_for('reading.reading_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="book-open" class="w-5 h-5"></i>

    <span>Reading</span>

</a>

<a href="{{ url_for('writing.writing_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="pen-line" class="w-5 h-5"></i>

    <span>Writing</span>

</a>

<a href="{{ url_for('speaking.speaking_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="mic-2" class="w-5 h-5"></i>

    <span>Speaking</span>

</a>

<a href="{{ url_for('publication.publication_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="book-open" class="w-5 h-5"></i>

    <span>Publications</span>

</a>

<a href="{{ url_for('language.language_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="languages" class="w-5 h-5"></i>

    <span>Language Skills</span>

</a>

        <a href="{{ url_for('achievement.achievement_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="trophy" class="w-5 h-5"></i>

    <span>Achievements</span>

</a>

    <a href="{{ url_for('paper_presentation.paper_presentation_list') }}"
   class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

    <i data-lucide="presentation" class="w-5 h-5"></i>

    <span>Paper Presentation</span>

</a>





        <a href="#"
           class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

            <i data-lucide="bar-chart-3" class="w-5 h-5"></i>
            <span>Reports</span>

        </a>

        <a href="#"
           class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

            <i data-lucide="settings" class="w-5 h-5"></i>
            <span>Settings</span>

        </a>

    {% elif session.get("role") == "staff" %}

    <!-- Students -->

    <a href="{{ url_for('students.student_list') }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="users" class="w-5 h-5"></i>

        <span>Students</span>

    </a>


    <!-- Attendance -->

    <a href="{{ url_for('attendance.attendance_list') }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="calendar-check-2" class="w-5 h-5"></i>

        <span>Attendance</span>

    </a>


    <!-- Student Leave Requests -->

    <a href="{{ url_for(
        'student_leave.student_leave_requests_route'
    ) }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="calendar-check" class="w-5 h-5"></i>

        <span>Student Leave Requests</span>

    </a>


    <!-- Staff Attendance -->

    <a href="{{ url_for(
        'staff_attendance.staff_attendance_list'
    ) }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="user-check" class="w-5 h-5"></i>

        <span>My Attendance</span>

    </a>


    <!-- Staff Leave -->

    <a href="{{ url_for(
        'staff_attendance.staff_leave_requests_page'
    ) }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="calendar-clock" class="w-5 h-5"></i>

        <span>My Leave</span>

    </a>


    <!-- Add Portions -->

    <a href="{{ url_for(
        'portion_completion.portion_completion_page_route'
    ) }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="book-open-check" class="w-5 h-5"></i>

        <span>Add Portions</span>

    </a>


    <!-- Portion Completion -->

    <a href="{{ url_for(
        'portion_completion.portion_completion_list_route'
    ) }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="book-open-check" class="w-5 h-5"></i>

        <span>Portion Completion</span>

    </a>


    <!-- Mentoring -->

    <a href="{{ url_for(
        'mentoring.mentoring_list_route'
    ) }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="heart-handshake" class="w-5 h-5"></i>

        <span>Mentoring</span>

    </a>

    {% elif session.get("role") == "parent" %}

        <a href="#"
           class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

            <i data-lucide="book-open" class="w-5 h-5"></i>
            <span>My Children</span>

        </a>

    {% elif session.get("role") == "student" %}

    


    <a href="#"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="book-open" class="w-5 h-5"></i>

        <span>My Progress</span>

    </a>


    <a href="{{ url_for(
        'student_leave.student_leave_page_route'
    ) }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl hover:bg-slate-800 transition">

        <i data-lucide="calendar-off" class="w-5 h-5"></i>

        <span>Leave Application</span>

    </a>

        </a>

    {% endif %}

</nav>
<!-- ========================= -->
<!-- Bottom Section -->
<!-- ========================= -->

<div class="border-t border-slate-800 p-4">

    <a href="{{ url_for('auth.logout') }}"
       class="flex items-center gap-3 px-4 py-3 rounded-xl text-red-400 hover:bg-red-600 hover:text-white transition">

        <i data-lucide="log-out" class="w-5 h-5"></i>

        <span>Logout</span>

    </a>

</div>

</aside>