<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>

<body class="bg-slate-100">

<div class="min-h-screen flex items-center justify-center">

    <form action="/login" method="POST" class="bg-white p-8 rounded-xl shadow-lg w-full max-w-md">

        <h1 class="text-2xl font-bold text-center mb-6">
            ERP Login
        </h1>

        <input
            type="text"
            name="institution_code"
            placeholder="Institution Code"
            class="w-full border rounded-lg p-3 mb-4">

        <input
            type="text"
            name="username"
            placeholder="Username"
            class="w-full border rounded-lg p-3 mb-4">

        <input
            type="password"
            name="password"
            placeholder="Password"
            class="w-full border rounded-lg p-3 mb-6">

        <button
            type="submit"
            class="w-full bg-indigo-600 text-white py-3 rounded-lg">

            Login

        </button>

    </form>

</div>

</body>
</html>